@page
@model NinasWorld.Pages.CreditsModel
@{
    ViewData["Title"] = "Credits";
}

<div class="w-full text-center mt-10">
    <div class="text-white text-3xl">
        Nina's World
    </div>

    <div class="pt-10">
        <div class="text-white text-xl pb-2">
            Design
        </div>

            <div class="text-gray-300 font-light">
                Main scene: Alejandra Coeto <br>
                Game over scene: Alejandra Coeto
            </div>
    </div>

    <div class=" fixed flex justify-start">
        <img class="w-32 h-24 object-cover self-center" src="images/Nina.png">
    </div>

    <div class="pt-10">
        <div class="text-white text-xl pb-2">
            Graphics
        </div>

            <div class="text-gray-100">
                Characters 
            </div>
            <div class="text-gray-300 font-light pb-3">
                Nina: Lorena Beatriz Martinez   <br>
                Birds: Lorena Beatriz Martinez 
            </div>

            <div class="text-gray-100">
                Background
            </div>
            <div class="text-gray-300 font-light">
                Mountains: Lorena Beatriz Martinez  <br>
                Trees: Lorena Beatriz Martinez 
            </div>
            <div class="flex justify-end absolute right-10">
            <img class="w-32 h-24 object-cover self-center" src="images/BirdBlue.png">
            </div>
    </div>

    <div class="pt-10">
        <div class="text-white text-xl pb-2">
            Programming
        </div>

            <div class="text-gray-300 font-light pb-3">
                Game Structure: Alejandra Coeto <br>
                Player Control: Alejandra Coeto <br>
                Scene Management: Alejandra Coeto
            </div>
    </div>
        
    <div class="pt-10">
        <div class="text-white text-xl pb-2">
            Audio
        </div>

            <div class="text-gray-100">
                Sound effects
            </div>
            <div class="text-gray-300 font-light">
                Coin Sound: Mario Bros. Nintendo 
            </div>

            <div class="text-gray-100 pt-3">
                Music
            </div>
            <div class="text-gray-300 font-light">
                Background Music: Mario Bros. Nintendo <br>
                Game Over Music: Mario Bros. Nintendo
            </div>

            
    </div>

    <div class="text-white text-xl pb-2 pt-12">
        Developed in Unity
    </div>
    <div class="flex justify-center pt-4 gap-12">
        <img class="w-28 h-12 pl-4 object-cover self-center" src="images/WebGL.png">
        <img class="w-16 h-16 pl-4 object-cover self-center" src="TemplateData/unity-logo-dark.png">
        <img class="w-28  h-12 pl-4 object-cover self-center" src="images/Unity.webp">
    </div>
    <div class="h-40"></div>
    <div class="absolute flex justify-start">
        <img class="w-28 h-20 pl-4 object-cover self-center" src="images/Bird.png">
    </div>
    <div class="h-80"></div>
    
    <div class="text-gray-100 pt-3">
        Thanks for playing!
    </div>
    
    


</div>

